<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JoyfulJots</title>
  </head>
  <body>
    <h1>
      Hey there, my Gee! Thanks for joining my community of well-wishers. I'm
      excited to celebrate this special day in your life. I'm here to make sure
      your wishes are heartfelt and memorable.
    </h1>
  </body>
</html>
